body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #100505;
}

.stopwatch-container {
    text-align: center;
    background-color: #cdc2c2;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 300px;
}

.time-display {
    font-size: 2em;
    margin-bottom: 20px;
    c
}

.controls button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1.1em;
    cursor: pointer;
}

.controls button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.lap-times {
    margin-top: 20px;
}

.lap-times ul {
    list-style-type: none;
    padding: 0;
}

.lap-times li {
    font-size: 1.2em;
    margin-bottom: 5px;
}
